.event_container{
    width: 100%;
    overflow: hidden;
    background-color: black
}

.fbs_e{
    height: 50px;
    width: 50px;
}
.igs_e{
    height: 50px;
    width: 50px;
}
.tws_e{
    height: 50px;
    width: 50px;
}
.event_img{
height:500px;
width:500px;
border: 4px;
border-style: solid;
border-radius: 1rem;
border-color: bisque;
}
.event_hero{
    width: 100%;
    height: 100vh;
    background-image: url('static/hookah_header.png');
    background-size: 100% 100%;
}
.event_container{
text-align: center;

}
.event_para{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
    align-items: center;
}
.event_heading{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', 'Calibri';
    font-size: 52px;
    text-shadow: 0px 6px 15px #d6caca;
    font-weight: 500;
    text-align: center;
    margin: 0px;
    padding: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.abc{
    width: 30%;
}
.paras{
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', 'Calibri';
    font-size: 25px;
    text-shadow: 0px 6px 15px #d6caca;
    font-weight: 500;
    text-align: left;
    padding: 10px;
    background-color: gray;
    color: white;
    border-radius: 25px;
}
.abcc{
    width: 100%;
    margin-bottom: 20px;
}
.event_schedules{
    width: 30%;
    height: 50px;
    background-color: crimson;
    margin: auto;
    border-radius: 10px;
    outline: none;
    color: white;
    text-shadow: 0px 6px 15px #d6caca;
    font-size: 25px;
}
.event_lists{
    width: 100%;
    font-size: 25px;
    text-shadow: 0px 6px 15px #d6caca;
    font-weight: 500;
    text-align: left;
    padding: 10px;
    color: white;
    border-radius: 25px;
    height: 300px;
}
.event_list_items{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', 'Calibri';
    font-size: 25px;
    text-shadow: 0px 6px 15px #d6caca;
    font-weight: 500;
    text-align: left;
    padding: 10px;
    background-color: gray;
    color: white;
    border-radius: 25px;
    margin-top: 10px;
}
.event_content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
    .event_hero{
        width: 100%;
        height: 50vh;
        background-image: url('static/hookah_header.png');
        background-size: 100% 100%;
    }
    .event_heading{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', 'Calibri';
        font-size: 35px;
        text-shadow: 0px 6px 15px #d6caca;
        font-weight: 500;
        text-align: center;
        margin: 0px;
        padding: 0px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .event_para{
        display: block;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 20px;
        align-items: center;
    }
    .abc{
        width: 80%;
        margin: auto;
    }
    .event_schedules{
        width: 80%;
        height: 50px;
        background: blue;
        margin: auto;
        border-radius: 10px;
        outline: none;
        color: white;
        text-shadow: 0px 6px 15px #d6caca;
        font-size: 25px;
    }
    .event_content{
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    .event_img{
        height:200px;
        width:80%;
        border: 4px;
        border-style: solid;
        border-radius: 1rem;
        border-color: bisque;
        margin-top: 20px;
        }
}