.container_form{
    width: 100%;
    height: auto;
    height: 100vh;
    background: black;
    display: flex;
}
.name{
    margin: 0;
    padding: 0;
    font-size: 18px;
    padding-top: 20px;
}
.box_form{
    width: 40%;
    margin: auto;
    background: rgb(13 17 23);
    height: auto;
    padding: 20px;
    border-radius: 25px;
}
.reser{
    text-align: center;
    font-size: 42px;
    text-shadow: 0px 6px 15px #d6caca;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    margin: 0;
    line-height: 0px;
}
.boxing{
    width: 90%;
    margin: auto;
}
.input{
    width: 90%;
    height: 35px;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    font-size: 14px;
}
.submit{
    width: 93%;
    margin: auto;
    margin-top: 10px;
    height: 35px;
    border-radius: 10px;
    background: blue;
    outline: none;
    color: white;
}
.textarea{
    width: 90%;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    font-size: 14px;
}