.special__container{
    background-color: black;
    text-align: center;
}
.navigation_special{
    width: 100%;
    height: 800px;
    background-image: url('static/hookah_header.png');
    background-size: 100% 100%;
}
.banner{
    width: 100%;
}
/* .promo{
    width: 100%;
    height: 600px;
    background-size: 100% 100%;
} */
.fbs_s{
    height: 50px;
    width: 50px;
}
.igs_s{
    height: 50px;
    width: 50px;
}
.tws_s{
    height: 50px;
    width: 50px;
}